# Common
NODE_ENV=development
APP_NAME=CodeDuel

# Server
SERVER_PORT=3001
JWT_SECRET=your_jwt_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

# Client
VITE_API_URL=http://localhost:3001

# Judge
JUDGE_PORT=3002
JUDGE_SECRET=your_judge_secret_here
